<div class="container pt-5">
    <div class="row">
        <div class="col">
            <form #f="ngForm" (ngSubmit)="addTask(f)" novalidate>
                <div class="row mb-1">
                    <div class="col-md-10 col-sm-12">
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label>Add task</mat-label>
                            <input matInput placeholder="Ex. Pizza" [(ngModel)]="inputTask" name="inputTask">
                        </mat-form-field>
                    </div>
                    <div class="col py-2">
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary btn-sm">Add task</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
   
    <div class="row">
        <div class="col">
            <app-list-task [listOfTask]="tasks"></app-list-task>
        </div>
    </div>
</div>

